.adv {
  background-color: var(--black);
  border-top: 1px solid rgba(255,255,255,0.1);
  border-bottom: 1px solid rgba(255,255,255,0.1);
  padding: 64px 0;
  text-align: center;
}

.adv-title {
  font-size: 28px;
  font-weight: 500;
  letter-spacing: -0.02em;
  line-height: 1.3;
  text-transform: uppercase;
}

@media screen and (min-width: 768px) {
  .adv-title { font-size: 40px; }
}

@media screen and (min-width: 1280px) {
  .adv-title { font-size: 48px; }
}

.adv-brown {
  color: var(--brown);
}

.adv-white {
  color: var(--white);
}

