<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="../css/main.css" />
    <link rel="icon" href="./images/favicon.ico" />
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=DM+Sans:wght@400;500;700&display=swap"
      rel="stylesheet"
    />
  </head>
  <body>
    <!-- ADVERTISEMENT  -->
    <section class="adv">
      <div class="container adv-container">
        <div class="marquee">
          <div class="marquee__inner">
            <p class="marquee__line">
              <span class="adv-brown">MASTER</span>
              <span class="adv-white"> YOUR PHOTOGRAPHY </span>
              <span class="adv-brown">SKILLS WITH US!</span>
            </p>
            <p class="marquee__line">
              <span class="adv-brown">MASTER</span>
              <span class="adv-white"> YOUR PHOTOGRAPHY </span>
              <span class="adv-brown">SKILLS WITH US!</span>
            </p>
          </div>
        </div>
      </div>
    </section>

    <!-- ABOUT -->
    <section id="about" class="about">
      <div class="container about-container">
        <h2 class="about-title">
          About <span class="about-highlight">Us</span>
        </h2>

        <div class="about-wrapper">
          <!-- FOTOĞRAF -->
          <div class="about-thumb">
            <picture>
              <source srcset="../images/camera@2.jpg" />
              <img
                src="../images/camera.jpg"
                alt="Photography equipment"
                class="about-img"
                loading="lazy"
              />
            </picture>
          </div>

          <!-- METİN -->
          <div class="about-text-content">
            <p class="about-description">
              Our photography school is designed to teach you everything you
              need to know about this magical art. Regardless of your experience
              or skill level, we offer a wide range of courses to suit your
              needs and interests. Our teaching team consists of experienced
              photographers who have many years of experience in this field.
              They strive not only to share their knowledge, but also to inspire
              you to develop and express your unique creativity.
            </p>

            <p class="about-description">
              Our courses cover a wide range of topics, from the basics of
              photography and equipment use to professional image processing and
              creating impressive compositions. You will have the opportunity to
              learn the technical aspects of photography, discover your own
              style and develop your own visual language.
            </p>

            <div class="about-icon-box">
              <svg class="about-icon" width="24" height="24">
                <use href="./images/icons.svg#icon-arrow"></use>
              </svg>
            </div>
          </div>
        </div>
      </div>
    </section>
  </body>
</html>
