@import "./reset.css";
@import "./advertisement.css";
@import "./about.css";

:root {
  --black: #121212;
  --brown: #bea69e;
  --white: #ffffff;
}

body {
  font-family: 'DM Sans', sans-serif;
  background-color: var(--black);
  color: var(--white);
  margin: 0;
}

.container {
  max-width: 1280px;
  padding: 0 64px;
  margin: 0 auto;
}

